<div class='row mt-4'>
	<div class='col-md-6'>
		<h3>{{#if post}}Edit Post{{else}}Create New Post{{/if}}</h3>

		<form class='form post-form' {{#if post}}data-id='{{post.id}}'{{/if}}>
			<div class='form-group'>
				<label for='post-title'>Title</label>
				<input
					class='form-input'
					type='text'
					id='post-title'
					name='post-title'
					value='{{#if post}}{{post.title}}{{/if}}'
				/>
			</div>
			<div class='form-group'>
				<label for='post-content'>Content</label>
				<textarea
					class='form-input'
					id='post-content'
					name='post-content'
				>{{#if post}}{{post.content}}{{/if}}</textarea>
			</div>
			{{#if post}}
				<div class='form-group'>
					<button
						type='submit'
						class='btn btn-primary'
						id='update-post'
					>Update Post</button>
				</div>
				<div class='form-group'>
					<button
						type='button'
						class='btn btn-primary'
						id='delete-post'
						data-id='{{post.id}}'
						onclick='deletePost()'
					>Delete</button>
				</div>
			{{else}}
				<div class='form-group'>
					<button
						type='submit'
						class='btn btn-primary'
					>Create</button>
				</div>
			{{/if}}
		</form>
	</div>
</div>

<script src='../js/post.js'></script>